body {
    background: linear-gradient(to right, rgb(3, 252, 252), rgb(255, 131, 36));
    height: 100%;
}

.container {
    text-align: center;
}

.title {
    padding: 10vh 0 3vh 0;
}

textarea {
    height: 50vh;
    width: 50vw;
    padding: 0.2em;
    margin: 1em;
    box-shadow: 0 4px 8px rgb(80, 77, 77);
    outline: 0.2em solid rgba(0, 0, 0, 0.1);
    outline-offset: 0.15em;
}

button {
    font-size: 1.1em;
    font-weight: 700;
    padding: 0.8em 3em;
    margin: 0 1.5em;
    margin-bottom: 2em;
}